@import './variables';
@import './mixin';

html{
    overflow-x: hidden;
}

body{
    padding: 0;
    margin: 0;
    position: relative;
    font-family: $FontFamily;
    overflow-x: hidden;
}

.app{
    @include dimension(100vh,100vw);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color:$LightGrayishViolet2;
}

.mobile-app{
    @include dimension(100%,100%);
    z-index: 1;
}

.mobile-app::before{
    @include dimension(85%,35%);
    @include pseudo_element(0,0,20rem,20rem);
    background-image: linear-gradient(to top,$LightViolet,$LightMagenta);
    left: -9%;
    z-index: 1;
}

.mobile-view-chat{
    @include dimension(37rem,270px);
    @include display_setting(column,flex-start,inherit);
    background-color: $LightGrayishViolet;
    border: 12px solid $White;
    border-radius: 40px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 20%;
    top: 5%;
    z-index: 2;
    opacity: 0;
    animation: load-chat-app 1s ease-in-out 0.3s forwards;

    @keyframes load-chat-app{
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }

    .header-container::before{
        @include dimension(2rem, 70%);
        @include pseudo_element(1.2rem,1.2rem,1.2rem,1.2rem);
        background-color: $White;
        left: 15%;
        top: -1.9%;
    }

    .header-container{
        @include display_setting(row, flex-start,center);
        background-image: linear-gradient(to right,$LightViolet,$LightMagenta);
        gap: 1rem;
        border-radius: 30px 30px 5px 5px;
        padding: 1.7rem 1rem 10px;
        opacity: 0;
        animation:header-load 0.8s ease-in-out 0.7s forwards;

        @keyframes header-load{
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }

        i{
            color: $White;
            animation:pop-content 0.8s ease-in-out 1s forwards;
            transform: scale(0);
        }

        .ellipsis{
            margin-left: auto;
            animation:pop-content 0.8s ease-in-out 1s forwards;
            transform: scale(0);
        }

        img{
            @include dimension(30px,30px);
            border: 2px solid $White;
            border-radius: 50%;
            animation:pop-content 0.8s ease-in-out 1s forwards;
            transform: scale(0);
        }

        .profile{
            @include display_setting(column,center,flex-start);
            gap: 5px;
            animation:pop-content 0.8s ease-in-out 1s forwards;
            transform: scale(0);
            .name{
                color: $PaleViolet;
                font-weight: 500;
                margin: 0;
            }
            .availability{
                color: $PaleViolet2;
                font-size: 12px;
                margin: 0
            }
        }

        @keyframes pop-content{
            0%{
                transform: scale(0);
            }
            90%{
                transform: scale(1.2);
            }
            100%{
                transform: scale(1);;
            }
        }
    }

    .body{
        @include display_setting(column,flex-start,inherit);
        gap: 8px;
        padding: 10px;

        .reciever-chat{
            @include dimension(auto,140px);
            @include chat_style($GrayishBlue,$ModerateViolet);
            border-bottom-left-radius: 5px;
            transform: scale(0);
        }

        .reciever-chat:nth-child(1){
            animation:pop-content 0.8s ease-in-out 1.2s forwards;
        }

        .reciever-chat:nth-child(2){
            animation:pop-content 0.8s ease-in-out 1.4s forwards;
        }

        .reciever-3{
            animation:pop-content 0.8s ease-in-out 2.2s forwards;
        }

        .sender-chat{
            @include dimension(auto,140px);
            @include chat_style($White,$DesaturatedDarkViolet);
            border-bottom-right-radius: 5px;
            box-shadow:  6px 8px 6px -6px $DarkGrayishViolet;
            color: $DesaturatedDarkViolet;
            margin-left: auto;
            transform: scale(0);
        }

        .sender-1{
            animation:pop-content 0.8s ease-in-out 1.8s forwards;
        }

        .sender-2{
            animation:pop-content 0.8s ease-in-out 2s forwards;
        }

        .payment-container{
            @include dimension(auto,170px);
            @include display_setting(row,flex-start,center);
            gap: 12px;
            background-image: linear-gradient(to right, $LightMagenta,$LightViolet);
            border-radius: 20px;
            border-bottom-left-radius: 5px;
            transform: scale(0);
            padding: 14px;
        
            .circle{
                @include dimension(15px,15px);
                border-radius: 50%;
                border: 2px solid $PaleViolet;
            }

            .payment-content{
                color: $PaleViolet2;
                font-size: 12px;
                margin: 0;
            }

            .dollar{
                font-size: 18px;
                font-weight: 700;
                color: $White;
                margin: 0;
                margin-left: auto;
            }
        }

        .payment-1{
            animation:pop-content 0.8s ease-in-out 2.4s forwards;
        }

        .payment-2{
            animation:pop-content 0.8s ease-in-out 2.6s forwards;
        }
    
        .image-container{
            @include display_setting(row,center,center);
            transform: scale(0);
            animation:pop-content 0.8s ease-in-out 1.6s forwards;
            margin-left: auto;
            gap: 10px;
            img{
                @include dimension(50px,50px);
                border-radius: 20px
            }
        }

        .input-container{
            @include display_setting(row,flex-start,center);
            @include dimension(auto,95%);
            background-color: $White;
            border-radius: 20px;
            padding: 5px;
            transform: scale(0);
            animation:pop-content 0.8s ease-in-out 2.8s forwards;
            input{
                @include dimension(auto,90%);
                padding: 0 15px;
                outline: none;
                border: none;
            }

            input::placeholder{
                color: $GrayishBlue;
            }

            .send-button{
                @include dimension(32px,40px);
                @include display_setting(row,center,center);
                background-color: $VeryDarkDesaturatedViolet;
                border-radius: 50%;
                margin-left: auto;
                i{
                    color: $White;
                }
            }
        }
    }
}

.content-container{
    @include display_setting(column,center,flex-start);
    animation: content-load 1s ease-in-out;
    z-index: 0;

    @keyframes content-load{
        0%{
          transform: translateX(100%);
        }
        100%{
            transform: translateX(0);
        }
    }

    .content-header{
        margin-bottom: 0;
        color: $VeryDarkDesaturatedViolet;
        font-weight: 500;
        font-size: 2.5rem;
    }

    .content-detail{
        color: $DarkGrayishViolet;
        font-size: $FontSize;
        line-height: 2;
        width: 65%;
    }
}

.content-container::after{
    @include dimension(85%,35%);
    @include pseudo_element(17.5rem,17.5rem,0,0);
    background-color: $LightGrayishViolet;
    right: -12%;
    bottom: 0;
    z-index: -2;
}

//responsive

@media(max-width:955px){
    .app{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        height: 160vh;
    }

    .mobile-app::before{
        @include dimension(70%,65%);
    }

    .mobile-view-chat{
        left: 30%;
        width: 300px;
    }

    .content-container{
        align-items: center;
        grid-row-start: 3;
        margin-bottom: 1rem;
        .content-detail{
            text-align: center;
            width: 60%;
        }
    }

    .content-container::after{
        @include dimension(50%,60%);
    }
}

@media(max-width:600px){
    .mobile-app::before{
        @include dimension(55%,65%);
    }

    .mobile-view-chat{
        left: 20%;
        width: 270px;
    }

    .content-container::after{
        @include dimension(45%,60%);
    }
}